<div class="container">
	<div class="row">
			
			<div class="col-md-12">
				<h1 class="color_header text-center">
					Моя Страница
				</h1><br>
			</div>

			<div class="navbar navbar-right col-md-5">
				<%= form_tag(controller: "searches", action: "search", method: "get", class: "nifty_form") do  %>
					<%= text_field_tag(:user)  %>
					<%= submit_tag("Поиск",class: "btn btn-success") %>
				<% end %>	
			</div>
			
			<div class="col-md-12">
				
				<p class="image_alignment img-circle">
					<%= image_tag(@user.image.url(:thumb), alt: 'Avatar_Image') if @user.image? %>		
				</p>

				<h3 class="color_header">
					<%= @user.patronymic %>
					<%= @user.name %>
				</h3>

				<p class="link_alignment">
					<%= link_to 'Изменить', edit_user_registration_path, class: "btn btn-success" %>
				</p>

			</div>

			<div class="col-md-12">
				
				<h2 class="color_header">
					Галлерея
				</h2>

				<% @user.user_images.each do |user_element| %>
					<p>
						<%= image_tag(user_element.image.url(:medium), alt: 'Image') unless user_element.image.blank? %><br>
						<%= user_element.description %>	
					</p>
				<% end %>

			</div>

			<div class="col-md-12">
				
				<h2 class="color_header" >
					Друзі		
				</h2>
				
			
			</div>

	
	</div>
</div>



